<!-- review-card.component.html -->
<div class="card card-span h-100 review-card">
  <div
    class="card-body d-flex flex-column align-items-center justify-content-center px-xl-5 px-md-3 pt-0 pb-7"
  >
    <h5 class="mt-3">{{ reviewerName + " " + reviewerSurName }}</h5>
    <!-- review-card.component.html -->
    <div class="review-rating mt-2">
      <ng-container *ngFor="let star of stars; let i = index">
        <span
          class="star"
          [innerHTML]="i < rating ? '&#9733;' : '&#9734;'"
        ></span>
      </ng-container>
    </div>
    <p class="text-900 mt-3">{{ decodeUtf8(comment) }}</p>
  </div>
</div>
