<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><fa-icon [icon]="faStore"></fa-icon> Garbrix</a
    >
    <div
      class="nav-link d-none d-sm-block"
      id="navbarSupportedContent"
      *ngIf="isAuth"
    >
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <fa-icon [icon]="faUser"></fa-icon>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <button
                class="dropdown-item"
                data-bs-toggle="modal"
                data-bs-target="#logOutModal"
              >
                <fa-icon [icon]="faPowerOff"></fa-icon> Cerrar sesión
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <button
      *ngIf="isAuth"
      class="nav-link d-block d-sm-none"
      data-bs-toggle="modal"
      data-bs-target="#logOutModal"
    >
      <fa-icon [icon]="faPowerOff"></fa-icon>
    </button>
  </div>
</nav>
<div
  class="modal fade"
  id="logOutModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">¿Estás seguro de que deseas cerrar sesión?</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger"
          data-bs-dismiss="modal"
          (click)="logOut()"
        >
          Cerrar sesión
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Me equivoqué
        </button>
      </div>
    </div>
  </div>
</div>
