.page-heading {
  background-color: #fff;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.page-heading h3 {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
}

.fixed-card {
  position: sticky;
  top: 15vh; /* Adjust this value as needed */
  width: 100%;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Ensure the background color is set */
}

.card-body {
  padding: 20px;
}

.card-title {
  margin-bottom: 15px;
  font-weight: 900;
}

.card-subtitle {
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

.date-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f8f9fa;
}

.date-text {
  font-size: 0.8rem;
}

.date-text-value {
  font-weight: 500;
}

.custom-list-group {
  background-color: #d4edda; /* Light green background */
  border: 1px solid #d4edda; /* Border with a slightly darker green */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
}

.review-stars {
  display: flex;
  align-items: center;
  font-size: 0.8rem; /* Adjust the font size as needed */
}

.review-stars fa-icon {
  font-size: 0.8rem; /* Adjust the icon size as needed */
  margin-right: 5px;
}

.average-rating {
  font-size: 0.8rem; /* Adjust the font size as needed */
}

.title-section {
  font-weight: 900;
  text-transform: uppercase;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #e9ecef; /* Optional: Set background color */
  z-index: 1000; /* Optional: Ensure it stays above other content */
  padding: 10px 0; /* Optional: Add padding for better appearance */
  border-top: 1px solid #6c757d; /* Optional: Add a top border */
}

.static-bottom {
  position: static;
  width: 100%;
  background-color: white; /* Optional: Set background color */
  padding: 10px 0; /* Optional: Add padding for better appearance */
  border-top: 1px solid #ddd; /* Optional: Add a top border */
}

.no-padding-margin-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 900;
}

.small-text {
  font-size: 0.7rem; /* Adjust the font size as needed */
}
