<main class="main" id="top">
  <app-header-reviewer [isMain]="false"></app-header-reviewer>
  <section class="page-heading header-text pt-5">
    <div class="container my-5">
      <div class="row">
        <div class="col-sm-12 py-4">
          <h3>Single Property</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="single-property section mb-5">
    <div class="container-sm">
      <div class="row">
        <div class="col-sm-8 d-flex justify-content-center">
          <div class="row">
            <div class="col-sm-12">
              <div class="review-stars mb-2">
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
                <fa-icon [icon]="faStarHalfAlt" class="text-warning"></fa-icon>
                <span class="average-rating ms-2">4.5</span>
              </div>
            </div>
            <div class="col-sm-12">
              <app-product-gallery
                [images]="[
                  'https://garbrix.com/assets/img/gallery/hero-section-2.png',
                  'https://garbrix.com/assets/img/gallery/blog-3.png',
                  'https://garbrix.com/assets/img/gallery/blog-2.png',
                  'https://garbrix.com/assets/img/gallery/hero-section-2.png',
                  'https://garbrix.com/assets/img/gallery/blog-3.png',
                  'https://garbrix.com/assets/img/gallery/blog-2.png'
                ]"
              ></app-product-gallery>
            </div>
            <div class="col-sm-12 mt-3">
              <h5 class="title-section">Que incluye:</h5>
            </div>
            <div class="col-sm-12 mt-2">
              <div class="text-muted">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <fa-icon [icon]="faCar" class="text-muted"></fa-icon>
                    Transporte incluido
                  </li>
                  <li class="list-group-item">
                    <fa-icon [icon]="faHotel" class="text-muted"></fa-icon>
                    Alojamiento incluido
                  </li>
                  <li class="list-group-item">
                    <fa-icon
                      [icon]="faCommentDots"
                      class="text-muted"
                    ></fa-icon>
                    Ofrecido en Español, Inglés, Frances
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 mt-5">
              <h5 class="title-section">Descripción:</h5>
            </div>
            <div class="col-sm-12 mt-2">Descripcion aqui</div>
            <div class="col-sm-12 mt-5">
              <h5 class="title-section">Transporte:</h5>
            </div>
            <div class="col-sm-12 mt-2">Transporte aqui</div>
            <div class="col-sm-12 mt-5">
              <h5 class="title-section">Alojamiento:</h5>
            </div>
            <div class="col-sm-12 mt-2">Alojamiento aqui</div>
            <div class="col-sm-12 mt-5">
              <h5 class="title-section">Información importante:</h5>
            </div>
            <div class="col-sm-12 mt-2">Información importante aqui</div>
          </div>
        </div>
        <div class="col-sm-4 justify-content-center">
          <div class="card fixed-card">
            <div class="card-body">
              <h4 class="card-title">
                $4,500
                <button class="btn btn-outline-dark btn-sm ms-2 float-end">
                  <fa-icon [icon]="faShareSquare"></fa-icon>
                </button>
              </h4>
              <h6 class="card-subtitle mb-2 text-muted">Por persona</h6>
              <div class="row">
                <div class="date-container col-sm-12 mb-2">
                  <fa-icon [icon]="faCalendarAlt"></fa-icon>
                  <span class="date-text ms-1">12 de Octubre, 2023</span>
                </div>
              </div>
              <div class="row">
                <button class="btn btn-success w-100 col-sm-12">
                  <fa-icon [icon]="faLock"></fa-icon> Comprar ahora
                </button>
              </div>
              <div class="mt-2 custom-list-group row">
                <small class="col-sm-12 mt-2">
                  <fa-icon
                    [icon]="faCheckCircle"
                    class="text-success"
                  ></fa-icon>
                  Pago seguro
                </small>
                <small class="col-sm-12 mt-2">
                  <fa-icon
                    [icon]="faCheckCircle"
                    class="text-success"
                  ></fa-icon>
                  Garantía de satisfacción
                </small>
                <small class="col-sm-12 mt-2">
                  <fa-icon
                    [icon]="faCheckCircle"
                    class="text-success"
                  ></fa-icon>
                  Soporte 24/7
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-5"></section>
  <app-footer-reviewer></app-footer-reviewer>
</main>
