<main class="main" id="top">
  <app-loading-reviewer-mask
    [isLoading]="!isLoading"
  ></app-loading-reviewer-mask>
  <app-header-reviewer [isMain]="false"></app-header-reviewer>
  <section class="page-heading header-text pt-5">
    <div class="container my-5">
      <div class="row">
        <div class="col-sm-12 py-4">
          <h3>{{ package.packTitle }}</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="single-property section mb-5">
    <div
      class="container-fluid fixed-bottom d-sm-block d-md-none"
      id="price-container"
    >
      <div class="row">
        <div class="col-sm-12 text-center">
          <h4 class="no-padding-margin-bottom">
            {{ package.packPrice | currency }}
          </h4>
        </div>
        <div class="col-sm-12 text-center mb-1">
          <fa-icon [icon]="faCalendarAlt" class="date-text"></fa-icon>
          <span class="date-text ms-1"> Cualquier dia </span>
        </div>
        <div class="col-sm-12 text-center">
          <button
            class="btn btn-success w-50"
            (click)="buyPackage(package.packID)"
          >
            <fa-icon [icon]="faLock"></fa-icon> Comprar ahora
          </button>
        </div>
        <div class="col-sm-12 text-center mt-2">
          <small class="small-text">
            <fa-icon [icon]="faCheckCircle" class="text-success"></fa-icon>
            Garantía de satisfacción
          </small>
        </div>
      </div>
    </div>
    <div class="container-sm">
      <div class="row">
        <div class="col-sm-12 col-md-8 d-flex justify-content-center">
          <div class="row">
            <div class="col-sm-12">
              <div class="review-stars mb-2">
                <ng-container *ngFor="let star of stars">
                  <fa-icon [icon]="star" class="text-warning"></fa-icon>
                </ng-container>
                <span class="average-rating ms-2">{{
                  package.averageRating
                }}</span>
              </div>
            </div>
            <div class="col-sm-12">
              <app-product-gallery
                [images]="package.images"
              ></app-product-gallery>
            </div>
            <div class="col-sm-12 mt-3">
              <h5 class="title-section">Que incluye:</h5>
            </div>
            <div class="col-sm-12 mt-2">
              <div class="text-muted">
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item"
                    *ngIf="package.packTransportId !== 0"
                  >
                    <fa-icon [icon]="faCar" class="text-muted"></fa-icon>
                    Transporte incluido
                  </li>
                  <li class="list-group-item" *ngIf="package.packHotelID !== 0">
                    <fa-icon [icon]="faHotel" class="text-muted"></fa-icon>
                    Alojamiento incluido
                  </li>
                  <li class="list-group-item">
                    <fa-icon
                      [icon]="faCommentDots"
                      class="text-muted"
                    ></fa-icon>
                    Ofrecido en Español
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 mt-5">
              <h5 class="title-section">Descripción:</h5>
            </div>
            <div
              class="col-sm-12 mt-2"
              [innerHTML]="package.packDescription"
            ></div>
            <div class="col-sm-12 mt-5" *ngIf="package.packTransportId !== 0">
              <h5 class="title-section">Transporte:</h5>
            </div>
            <div
              *ngIf="package.packTransportId !== 0"
              class="col-sm-12 mt-2"
              [innerHTML]="package.packTransportDescription"
            ></div>
            <div class="col-sm-12 mt-5">
              <h5 class="title-section" *ngIf="package.packHotelID !== 0">
                Alojamiento:
              </h5>
            </div>
            <div
              *ngIf="package.packHotelID !== 0"
              class="col-sm-12 mt-2"
              [innerHTML]="package.packHotelDescription"
            ></div>
            <div class="col-sm-12 mt-5">
              <h5 class="title-section">Información importante:</h5>
            </div>
            <div class="col-sm-12 mt-2">Información importante aqui</div>
          </div>
        </div>
        <div class="col-md-4 d-sm-none d-md-block justify-content-center">
          <div class="card fixed-card">
            <div class="card-body">
              <h4 class="card-title">
                {{ package.packPrice | currency }}
                <button class="btn btn-outline-dark btn-sm ms-2 float-end">
                  <fa-icon [icon]="faShareSquare"></fa-icon>
                </button>
              </h4>
              <h6 class="card-subtitle mb-2 text-muted">Por persona</h6>
              <div class="row">
                <div
                  class="date-container col-sm-12 mb-2 d-flex justify-content-center align-items-center"
                >
                  <fa-icon [icon]="faCalendarAlt" class="date-text"></fa-icon>
                  <span class="date-text ms-1"> Cualquier dia </span>
                </div>
              </div>
              <div class="row">
                <button
                  class="btn btn-success w-100 col-sm-12"
                  (click)="buyPackage(package.packID)"
                >
                  <fa-icon [icon]="faLock"></fa-icon> Comprar ahora
                </button>
              </div>
              <div class="mt-2 custom-list-group row">
                <small class="col-sm-12 mt-2">
                  <fa-icon
                    [icon]="faCheckCircle"
                    class="text-success"
                  ></fa-icon>
                  Pago seguro
                </small>
                <small class="col-sm-12 mt-2">
                  <fa-icon
                    [icon]="faCheckCircle"
                    class="text-success"
                  ></fa-icon>
                  Garantía de satisfacción
                </small>
                <small class="col-sm-12 mt-2 mb-2">
                  <fa-icon
                    [icon]="faCheckCircle"
                    class="text-success"
                  ></fa-icon>
                  Soporte 24/7
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-5"></section>
  <app-footer-reviewer></app-footer-reviewer>
</main>
