<main class="main" id="top">
  <app-loading-reviewer-mask
    [isLoading]="!isLoading"
  ></app-loading-reviewer-mask>
  <app-header-reviewer [isMain]="false"></app-header-reviewer>
  <section class="page-heading header-text pt-5">
    <div class="container my-5">
      <div class="row">
        <div class="col-sm-12 py-4">
          <h3>{{ package[0].packTitle }}</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="single-property section mb-5">
    <div class="container-sm">
      <div class="row">
        <div class="col-sm-8 d-flex justify-content-center">
          <div class="row">
            <div class="col-sm-12">
              <div class="review-stars mb-2">
                <ng-container *ngFor="let star of stars">
                  <fa-icon [icon]="star" class="text-warning"></fa-icon>
                </ng-container>
                <span class="average-rating ms-2">{{
                  package[0].averageRating
                }}</span>
              </div>
            </div>
            <div class="col-sm-12">
              <app-product-gallery
                [images]="[
                  'https://garbrix.com/assets/img/gallery/hero-section-2.png',
                  'https://garbrix.com/assets/img/gallery/blog-3.png',
                  'https://garbrix.com/assets/img/gallery/blog-2.png',
                  'https://garbrix.com/assets/img/gallery/hero-section-2.png',
                  'https://garbrix.com/assets/img/gallery/blog-3.png',
                  'https://garbrix.com/assets/img/gallery/blog-2.png'
                ]"
              ></app-product-gallery>
            </div>
            <div class="col-sm-12 mt-3">
              <h5 class="title-section">Que incluye:</h5>
            </div>
            <div class="col-sm-12 mt-2">
              <div class="text-muted">
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item"
                    *ngIf="package[0].packTransportId !== 0"
                  >
                    <fa-icon [icon]="faCar" class="text-muted"></fa-icon>
                    Transporte incluido
                  </li>
                  <li
                    class="list-group-item"
                    *ngIf="package[0].packHotelID !== 0"
                  >
                    <fa-icon [icon]="faHotel" class="text-muted"></fa-icon>
                    Alojamiento incluido
                  </li>
                  <li class="list-group-item">
                    <fa-icon
                      [icon]="faCommentDots"
                      class="text-muted"
                    ></fa-icon>
                    Ofrecido en Español
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 mt-5">
              <h5 class="title-section">Descripción:</h5>
            </div>
            <div
              class="col-sm-12 mt-2"
              [innerHTML]="package[0].packDescription"
            ></div>
            <div
              class="col-sm-12 mt-5"
              *ngIf="package[0].packTransportId !== 0"
            >
              <h5 class="title-section">Transporte:</h5>
            </div>
            <div
              *ngIf="package[0].packTransportId !== 0"
              class="col-sm-12 mt-2"
              [innerHTML]="package[0].packTransportDescription"
            ></div>
            <div class="col-sm-12 mt-5">
              <h5 class="title-section" *ngIf="package[0].packHotelID !== 0">
                Alojamiento:
              </h5>
            </div>
            <div
              *ngIf="package[0].packHotelID !== 0"
              class="col-sm-12 mt-2"
              [innerHTML]="package[0].packHotelDescription"
            ></div>
            <div class="col-sm-12 mt-5">
              <h5 class="title-section">Información importante:</h5>
            </div>
            <div class="col-sm-12 mt-2">Información importante aqui</div>
          </div>
        </div>
        <div class="col-sm-4 justify-content-center">
          <div class="card fixed-card">
            <div class="card-body">
              <h4 class="card-title">
                {{ package[0].packPrice | currency }}
                <button class="btn btn-outline-dark btn-sm ms-2 float-end">
                  <fa-icon [icon]="faShareSquare"></fa-icon>
                </button>
              </h4>
              <h6 class="card-subtitle mb-2 text-muted">Por persona</h6>
              <div class="row">
                <div
                  class="date-container col-sm-12 mb-2 d-flex justify-content-center align-items-center"
                >
                  <fa-icon [icon]="faCalendarAlt" class="date-text"></fa-icon>
                  <span class="date-text ms-1">
                    <span class="date-text-value">{{
                      extractFirstDate(package[0].packDateRange)
                    }}</span>
                    al
                    <span class="date-text-value">{{
                      extractSecondDate(package[0].packDateRange)
                    }}</span>
                  </span>
                </div>
              </div>
              <div class="row">
                <button class="btn btn-success w-100 col-sm-12">
                  <fa-icon [icon]="faLock"></fa-icon> Comprar ahora
                </button>
              </div>
              <div class="mt-2 custom-list-group row">
                <small class="col-sm-12 mt-2">
                  <fa-icon
                    [icon]="faCheckCircle"
                    class="text-success"
                  ></fa-icon>
                  Pago seguro
                </small>
                <small class="col-sm-12 mt-2">
                  <fa-icon
                    [icon]="faCheckCircle"
                    class="text-success"
                  ></fa-icon>
                  Garantía de satisfacción
                </small>
                <small class="col-sm-12 mt-2">
                  <fa-icon
                    [icon]="faCheckCircle"
                    class="text-success"
                  ></fa-icon>
                  Soporte 24/7
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-5"></section>
  <app-footer-reviewer></app-footer-reviewer>
</main>
