<main class="main" id="top">
  <app-header-reviewer></app-header-reviewer>
  <section
    class="d-flex justify-content-center align-items-center main-container"
    id="goTop"
  >
    <div class="container py-vh-4 position-relative mt-5 px-vw-5 text-center">
      <div class="row d-flex align-items-center justify-content-center py-vh-5">
        <div class="col-sm-8 mb-2">
          <h1>Hagamos un recorrido</h1>
          <h1 class="text-white fw-bold">
            <span id="quote" class="typing-effect"></span>
          </h1>
          <div class="pt-3">
            <div
              class="container"
              id="nav-contact"
              role="tabpanel"
              aria-labelledby="nav-contact-tab"
            >
              <div class="row g-3 pb-4 justify-content-center text-center">
                <div class="col-6 d-grid">
                  <a class="btn btn-primary btn-lg" href="#paquetes">
                    Buscar Paquetes
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-5" id="target-element">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 px-0 bg-dark">
          <img
            class="img-fluid order-md-0 mb-4 h-100 fit-cover"
            src="https://garbrix.com/assets/img/gallery/hero-section-2.png"
            alt="..."
          />
        </div>
        <div class="col-lg-6 px-0 bg-dark">
          <div class="mx-5 mx-xl-8 my-5">
            <div class="align-items-center d-block d-flex mb-5">
              <img
                class="img-fluid me-3 me-md-2 me-lg-4"
                src="https://garbrix.com/assets/img/icons/locations.png"
                alt="..."
              />
              <div class="flex-1 align-items-center pt-2">
                <h5 class="fw-bold text-light">Visita los mejores destinos.</h5>
              </div>
            </div>
            <div class="align-items-center d-block d-flex mb-5">
              <img
                class="img-fluid me-3 me-md-2 me-lg-4"
                src="https://garbrix.com/assets/img/icons/schedule.png"
                alt="..."
              />
              <div class="flex-1 align-items-center pt-2">
                <h5 class="fw-bold text-light">Diseña tu propia aventura.</h5>
              </div>
            </div>
            <div class="align-items-center d-block d-flex mb-5">
              <img
                class="img-fluid me-3 me-md-2 me-lg-4"
                src="https://garbrix.com/assets/img/icons/save.png"
                alt="..."
              />
              <div class="flex-1 align-items-center pt-2">
                <h5 class="fw-bold text-light">Ahorra dinero.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-5" id="paquetes">
    <div class="container-fluid">
      <div class="row gx-2">
        <div class="col-12 col-lg-4">
          <div class="bg-dark h-100 rounded">
            <div class="row g-0 h-100">
              <div class="col-12 h-100">
                <div
                  class="d-flex flex-column justify-content-center h-100 text-light p-4"
                >
                  <h2 class="mb-2 text-light">
                    <fa-icon [icon]="faGift"></fa-icon> Los mejores paquetes
                  </h2>
                  <p>Elige entre los paquetes más populares.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4" *ngFor="let package of packages">
          <app-package-image-card [package]="package"></app-package-image-card>
        </div>
        <div class="col-12 col-lg-4">
          <div class="bg-dark h-100 rounded">
            <div class="row g-0 h-100">
              <div class="col-12 h-100">
                <div
                  class="d-flex flex-column justify-content-center h-100 text-light p-4"
                >
                  <h2 class="mb-2 text-light">
                    Los paquetes más exclusivos están listos para ti. ¡A solo un
                    clic de distancia!
                  </h2>
                  <p>
                    Entrar <fa-icon [icon]="faArrowAltCircleRight"></fa-icon>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-5" id="lugares">
    <div class="container-fluid">
      <div class="row gx-2 mb-2">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="bg-dark bg-offcanvas h-100">
            <div class="row g-0 justify-content-end">
              <div class="col-12">
                <div class="p-5 text-light">
                  <h2 class="mb-2 text-light mt-5">
                    <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Lugares magicos
                  </h2>
                  <p class="p-2">
                    Disfruta de los beneficios de nuestros paquetes para los
                    sitios donde nuestros visitantes se divierten más. Todo
                    organizado de manera impecable y con costos accesibles.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <app-place-card></app-place-card>
        </div>
        <div class="col-sm-6 col-lg-4">
          <app-place-card></app-place-card>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-sm-6 col-lg-4">
          <div class="row g-2">
            <div class="col-12">
              <app-place-card></app-place-card>
            </div>
            <div class="col-12">
              <app-place-card></app-place-card>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="row g-2">
            <div class="col-12">
              <app-place-card></app-place-card>
            </div>
            <div class="col-12">
              <app-place-card></app-place-card>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <div class="bg-dark ps-1 h-100 d-flex align-items-center">
            <div class="text-light p-4">
              <p class="fs-2 px-4 mb-6">
                ¿Quieres viajar al lugar más emocionante del planeta? Tenemos un
                montón de sorpresas preparadas para ti.
              </p>
              <a class="btn btn-lg text-light fs-2" href="#!" role="button"
                >Saber más <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-0 pb-8 my-5">
    <div class="container-fluid container-lg">
      <div class="row h-100 g-2 justify-content-center">
        <div class="col-sm-9 col-md-4 mb-3 mb-md-0 h-100">
          <app-review-card></app-review-card>
        </div>
        <div class="col-sm-9 col-md-4 mb-3 mb-md-0 h-100">
          <app-review-card></app-review-card>
        </div>
        <div class="col-sm-9 col-md-4 mb-3 mb-md-0 h-100">
          <app-review-card></app-review-card>
        </div>
      </div>
    </div>
  </section>
  <app-footer-reviewer></app-footer-reviewer>
</main>
