<div>
  <div class="carousel">
    <button (click)="prevReview()">&#10094;</button>
    <div class="review col-sm-10">
      <app-review-card
        [rating]="reviews[currentIndex].rating"
        [comment]="reviews[currentIndex].comment"
        [dateTimestamp]="reviews[currentIndex].reviewDate"
        [reviewerName]="reviews[currentIndex].custName"
        [reviewerSurName]="reviews[currentIndex].custSurname"
      ></app-review-card>
    </div>
    <button (click)="nextReview()">&#10095;</button>
  </div>
</div>
