.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review {
  margin: 0 20px;
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

button:focus {
  outline: none;
}
