<footer class="border-top border-dark bg-dark">
  <!--<div class="container py-vh-4 text-secondary fw-lighter">
    <div class="row">
      <div class="col-12 col-lg-5 py-4 text-center text-lg-start"></div>
      <div class="col border-end border-dark"></div>
      <div class="col">
        <span class="h5 mb-3">Soporte</span>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="btn btn-outline-light btn-sm mt-3">Escribenos</a>
          </li>
        </ul>
      </div>
    </div>
  </div>-->
  <div class="container text-center small py-2 text-white">
    <p class="mb-0">
      Hecha con amor
      <span class="text-danger bump-effect"
        ><fa-icon [icon]="faHeart"></fa-icon
      ></span>
      por
      <a href="https://garbrix.com" target="_blank" class="text-white"
        >Garbrix</a
      >
    </p>
  </div>
</footer>
