.page-heading {
  background-color: #fff;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.page-heading h3 {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-text.mt-auto {
  margin-top: auto;
}
