<app-full-loading-mask *ngIf="!isLoading"></app-full-loading-mask>
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h1 class="text-center mt-5 mb-5">Soporte</h1>
    </div>
  </div>
</div>
<div class="support-border-bottom"></div>
<div class="container mt-3">
  <div class="row support-border-header-bottom">
    <div class="col-sm-1"><h4>#</h4></div>
    <div class="col-sm-3"><h4>Fecha</h4></div>
    <div class="col-sm-3"><h4>Usuario</h4></div>
    <div class="col-sm-2"><h4>Status</h4></div>
    <div class="col-sm-3"><h4>Acciones</h4></div>
  </div>
</div>
<app-footer *ngIf="isLoading"></app-footer>
