.card-body {
  padding: 20px;
}

.card-title {
  margin-bottom: 15px;
  font-weight: 900;
}

.card-subtitle {
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

.date-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f8f9fa;
}

.date-text {
  font-size: 0.9rem;
}

.date-text-value {
  font-weight: 500;
}

.custom-list-group {
  background-color: #d4edda; /* Light green background */
  border: 1px solid #d4edda; /* Border with a slightly darker green */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
}

.no-border-card {
  border: none;
}

.wizard-step {
  width: 50vw;
}

.encryption-title {
  font-size: 0.7rem;
}

.accordion-button:not(.collapsed) {
  font-weight: 500;
  background-color: #fff;
  border-color: aqua;
}

.accordion-button-invalid {
  color: #dc3545;
}
