<footer class="border-top border-dark">
  <div class="container py-vh-4 text-secondary fw-lighter">
    <div class="row">
      <div class="col-12 col-lg-5 py-4 text-center text-lg-start"></div>
      <div class="col border-end border-dark"></div>
      <div class="col">
        <span class="h6">Support</span>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light"
              >Terms and conditions</a
            >
          </li>

          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light"> Privacy policy </a>
          </li>
          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container text-center small py-vh-2 border-top border-dark">
    Distributed by
    <a
      href="https://garbrix.com"
      class="link-fancy link-fancy-light"
      target="_blank"
      >Garbrix</a
    >
  </div>
</footer>
