<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <!-- First Column -->
      <div class="col-md-4 mb-3 mb-md-0">
        <h5>¿Quienes somos?</h5>
        <p>
          Somos una empresa de viajes dedicada a ofrecer las mejores
          experiencias a nuestros clientes. ¡Explora el mundo con nosotros y
          vive aventuras inolvidables!
        </p>
      </div>
      <!-- Second Column -->
      <div class="col-md-4 mb-3 mb-md-0">
        <!-- Could be quicklinks -->
      </div>
      <!-- Third Column -->
      <div class="col-md-4">
        <h5>Contactanos</h5>
        <button class="btn btn-outline-light m-1">
          <i class="fab fa-instagram"></i>
        </button>
        <button class="btn btn-outline-light">
          <i class="fab fa-tiktok"></i>
        </button>

        <button class="btn btn-outline-light m-1">
          <i class="fab fa-facebook-f"></i>
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <p class="mb-0">
          Hecha con amor
          <span class="text-danger bump-effect"
            ><i class="fas fa-heart"></i
          ></span>
          por
          <a href="https://garbrix.com" class="text-white">Garbrix</a>
        </p>
      </div>
    </div>
  </div>
</footer>
