.navbar {
  background-color: transparent;
  color: black;
  transition: background-color 0.3s ease;
}

/*#navbar {
  background-color: transparent !important;
  transition: background-color 0.3s ease;
}*/

/* Navbar styles when scrolled to target element */
.navbar.scrolled {
  background-color: black !important;
  color: white;
}

.additional-content {
  /* Add your styles here */
  margin-left: 5px; /* Example: Add some space between the logo and the new div */
  display: inline-block; /* Ensure it stays next to the logo */
  vertical-align: middle; /* Align it vertically with the logo */
}
