<nav
  [class]="
    isAuth
      ? 'navbar navbar-expand-lg fixed-top bg-light navbar-border-bottom'
      : 'navbar navbar-expand-lg fixed-top'
  "
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><fa-icon [icon]="faStore"></fa-icon> Garbrix</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button
            class="nav-link active"
            aria-current="page"
            (click)="goToPackages()"
          >
            Paquetes
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link active"
            aria-current="page"
            (click)="goToSettings()"
          >
            Ajustes
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link active"
            aria-current="page"
            (click)="goToSupport()"
          >
            Soporte
          </button>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <fa-icon [icon]="faUser"></fa-icon>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <button
                class="dropdown-item"
                data-bs-toggle="modal"
                data-bs-target="#logOutModal"
              >
                <fa-icon [icon]="faPowerOff"></fa-icon> Cerrar sesión
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div
  class="modal fade"
  id="logOutModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">¿Estás seguro de que deseas cerrar sesión?</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger"
          data-bs-dismiss="modal"
          (click)="logOut()"
        >
          Cerrar sesión
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Me equivoqué
        </button>
      </div>
    </div>
  </div>
</div>
